*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #8a2be2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: white;
  padding: 3%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #611f9e;
  margin-bottom: 30px;
}

.links a{
  text-decoration: none;
  color: #6114aa;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  background-color: #e7ceff;
  border: 3px solid #6114aa;
  padding: 10px 30px;
  border-radius: 10px;
}