<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criando usuário</title>
  <link rel="stylesheet" href="/css/createuser.css">
</head>

<body>
  <div class="content">

    <h1>Criando usuário</h1>
    <form action="/users/creatingUser" method="post">
      <div>
        <input type="text" name="user" placeholder="Digite um nome para seu usuário">
      </div>
      <div>
        <input type="text" name="name" placeholder="Digite seu nome">
      </div>
      <div>
        <input type="text" name="surname" placeholder="Digite seu sobrenome">
      </div>
      <div>
        <input type="email" name="email" placeholder="Digite seu email">
      </div>
      <div>
        <input type="password" name="password" placeholder="Digite uma senha senha">
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
  </div>
</body>

</html>